---
---

<select id="country-code">
  <option value="" selected>Country code *</option>
  <option value="376">AD: +376 (Andorra)</option>
  <option value="971">AE: +971 (United Arab Emirates)</option>
  <option value="93">AF: +93 (Afghanistan)</option>
  <option value="1268">AG: +1-268 (Antigua and Barbuda)</option>
  <option value="1264">AI: +1-264 (Anguilla)</option>
  <option value="355">AL: +355 (Albania)</option>
  <option value="374">AM: +374 (Armenia)</option>
  <option value="599">AN: +599 (Netherlands Antilles)</option>
  <option value="244">AO: +244 (Angola)</option>
  <option value="672">AQ: +672 (Antarctica)</option>
  <option value="54">AR: +54 (Argentina)</option>
  <option value="1684">AS: +1-684 (American Samoa)</option>
  <option value="43">AT: +43 (Austria)</option>
  <option value="61">AU: +61 (Australia)</option>
  <option value="297">AW: +297 (Aruba)</option>
  <option value="994">AZ: +994 (Azerbaijan)</option>
  <option value="387">BA: +387 (Bosnia and Herzegovina)</option>
  <option value="1246">BB: +1-246 (Barbados)</option>
  <option value="880">BD: +880 (Bangladesh)</option>
  <option value="32">BE: +32 (Belgium)</option>
  <option value="226">BF: +226 (Burkina Faso)</option>
  <option value="359">BG: +359 (Bulgaria)</option>
  <option value="973">BH: +973 (Bahrain)</option>
  <option value="257">BI: +257 (Burundi)</option>
  <option value="229">BJ: +229 (Benin)</option>
  <option value="590">BL: +590 (Saint Barthelemy)</option>
  <option value="1441">BM: +1-441 (Bermuda)</option>
  <option value="673">BN: +673 (Brunei)</option>
  <option value="591">BO: +591 (Bolivia)</option>
  <option value="55">BR: +55 (Brazil)</option>
  <option value="1242">BS: +1-242 (Bahamas)</option>
  <option value="975">BT: +975 (Bhutan)</option>
  <option value="267">BW: +267 (Botswana)</option>
  <option value="375">BY: +375 (Belarus)</option>
  <option value="501">BZ: +501 (Belize)</option>
  <option value="1">CA: +1 (Canada)</option
  ><option value="61">CC: +61 (Cocos Islands)</option
  ><option value="243"
    >CD: +243 (Democratic Republic of the Congo)</option
  ><option value="236"
    >CF: +236 (Central African Republic)</option
  ><option value="242"
    >CG: +242 (Republic of the Congo)</option
  ><option value="225">CI: +225 (Ivory Coast)</option><option
    value="682">CK: +682 (Cook Islands)</option
  ><option value="56">CL: +56 (Chile)</option><option
    value="237">CM: +237 (Cameroon)</option
  ><option value="86">CN: +86 (China)</option><option
    value="57">CO: +57 (Colombia)</option
  ><option value="506">CR: +506 (Costa Rica)</option><option
    value="53">CU: +53 (Cuba)</option
  ><option value="238">CV: +238 (Cape Verde)</option><option
    value="599">CW: +599 (Curacao)</option
  ><option value="61">CX: +61 (Christmas Island)</option
  ><option value="357">CY: +357 (Cyprus)</option><option
    value="420">CZ: +420 (Czech Republic)</option
  ><option value="49">DE: +49 (Germany)</option><option
    value="253">DJ: +253 (Djibouti)</option
  ><option value="45">DK: +45 (Denmark)</option><option
    value="1767">DM: +1-767 (Dominica)</option
  ><option value="dominican-republic-1-809-do-dom"
    >DO: +1-809 (Dominican Republic)</option
  ><option value="dominican-republic-1-829-do-dom"
    >DO: +1-829 (Dominican Republic)</option
  ><option value="dominican-republic-1-849-do-dom"
    >DO: +1-849 (Dominican Republic)</option
  ><option value="algeria-213-dz-dza">DZ: +213 (Algeria)</option><option
    value="ecuador-593-ec-ecu">EC: +593 (Ecuador)</option
  ><option value="estonia-372-ee-est">EE: +372 (Estonia)</option><option
    value="egypt-20-eg-egy">EG: +20 (Egypt)</option
  ><option value="western-sahara-212-eh-esh">EH: +212 (Western Sahara)</option
  ><option value="eritrea-291-er-eri">ER: +291 (Eritrea)</option><option
    value="spain-34-es-esp">ES: +34 (Spain)</option
  ><option value="ethiopia-251-et-eth">ET: +251 (Ethiopia)</option><option
    value="finland-358-fi-fin">FI: +358 (Finland)</option
  ><option value="fiji-679-fj-fji">FJ: +679 (Fiji)</option><option
    value="falkland-islands-500-fk-flk">FK: +500 (Falkland Islands)</option
  ><option value="micronesia-691-fm-fsm">FM: +691 (Micronesia)</option><option
    value="faroe-islands-298-fo-fro">FO: +298 (Faroe Islands)</option
  ><option value="france-33-fr-fra">FR: +33 (France)</option><option
    value="gabon-241-ga-gab">GA: +241 (Gabon)</option
  ><option value="united-kingdom-44-gb-gbr">GB: +44 (United Kingdom)</option
  ><option value="grenada-1-473-gd-grd">GD: +1-473 (Grenada)</option><option
    value="georgia-995-ge-geo">GE: +995 (Georgia)</option
  ><option value="guernsey-44-1481-gg-ggy">GG: +44-1481 (Guernsey)</option
  ><option value="ghana-233-gh-gha">GH: +233 (Ghana)</option><option
    value="gibraltar-350-gi-gib">GI: +350 (Gibraltar)</option
  ><option value="greenland-299-gl-grl">GL: +299 (Greenland)</option><option
    value="gambia-220-gm-gmb">GM: +220 (Gambia)</option
  ><option value="guinea-224-gn-gin">GN: +224 (Guinea)</option><option
    value="equatorial-guinea-240-gq-gnq">GQ: +240 (Equatorial Guinea)</option
  ><option value="greece-30-gr-grc">GR: +30 (Greece)</option><option
    value="guatemala-502-gt-gtm">GT: +502 (Guatemala)</option
  ><option value="guam-1-671-gu-gum">GU: +1-671 (Guam)</option><option
    value="guinea-bissau-245-gw-gnb">GW: +245 (Guinea-Bissau)</option
  ><option value="guyana-592-gy-guy">GY: +592 (Guyana)</option><option
    value="hong-kong-852-hk-hkg">HK: +852 (Hong Kong)</option
  ><option value="honduras-504-hn-hnd">HN: +504 (Honduras)</option><option
    value="croatia-385-hr-hrv">HR: +385 (Croatia)</option
  ><option value="haiti-509-ht-hti">HT: +509 (Haiti)</option><option
    value="hungary-36-hu-hun">HU: +36 (Hungary)</option
  ><option value="switzerland-41-ch-che">CH: +41 (Switzerland)</option><option
    value="indonesia-62-id-idn">ID: +62 (Indonesia)</option
  ><option value="ireland-353-ie-irl">IE: +353 (Ireland)</option><option
    value="israel-972-il-isr">IL: +972 (Israel)</option
  ><option value="isle-of-man-44-1624-im-imn">IM: +44-1624 (Isle of Man)</option
  ><option value="india-91-in-ind">IN: +91 (India)</option><option
    value="british-indian-ocean-territory-246-io-iot"
    >IO: +246 (British Indian Ocean Territory)</option
  ><option value="iraq-964-iq-irq">IQ: +964 (Iraq)</option><option
    value="iran-98-ir-irn">IR: +98 (Iran)</option
  ><option value="iceland-354-is-isl">IS: +354 (Iceland)</option><option
    value="italy-39-it-ita">IT: +39 (Italy)</option
  ><option value="jersey-44-1534-je-jey">JE: +44-1534 (Jersey)</option><option
    value="jamaica-1-876-jm-jam">JM: +1-876 (Jamaica)</option
  ><option value="jordan-962-jo-jor">JO: +962 (Jordan)</option><option
    value="japan-81-jp-jpn">JP: +81 (Japan)</option
  ><option value="kenya-254-ke-ken">KE: +254 (Kenya)</option><option
    value="kyrgyzstan-996-kg-kgz">KG: +996 (Kyrgyzstan)</option
  ><option value="cambodia-855-kh-khm">KH: +855 (Cambodia)</option><option
    value="kiribati-686-ki-kir">KI: +686 (Kiribati)</option
  ><option value="comoros-269-km-com">KM: +269 (Comoros)</option><option
    value="saint-kitts-and-nevis-1-869-kn-kna"
    >KN: +1-869 (Saint Kitts and Nevis)</option
  ><option value="north-korea-850-kp-prk">KP: +850 (North Korea)</option><option
    value="south-korea-82-kr-kor">KR: +82 (South Korea)</option
  ><option value="kuwait-965-kw-kwt">KW: +965 (Kuwait)</option><option
    value="cayman-islands-1-345-ky-cym">KY: +1-345 (Cayman Islands)</option
  ><option value="kazakhstan-7-kz-kaz">KZ: +7 (Kazakhstan)</option><option
    value="laos-856-la-lao">LA: +856 (Laos)</option
  ><option value="lebanon-961-lb-lbn">LB: +961 (Lebanon)</option><option
    value="saint-lucia-1-758-lc-lca">LC: +1-758 (Saint Lucia)</option
  ><option value="liechtenstein-423-li-lie">LI: +423 (Liechtenstein)</option
  ><option value="sri-lanka-94-lk-lka">LK: +94 (Sri Lanka)</option><option
    value="liberia-231-lr-lbr">LR: +231 (Liberia)</option
  ><option value="lesotho-266-ls-lso">LS: +266 (Lesotho)</option><option
    value="lithuania-370-lt-ltu">LT: +370 (Lithuania)</option
  ><option value="luxembourg-352-lu-lux">LU: +352 (Luxembourg)</option><option
    value="latvia-371-lv-lva">LV: +371 (Latvia)</option
  ><option value="libya-218-ly-lby">LY: +218 (Libya)</option><option
    value="morocco-212-ma-mar">MA: +212 (Morocco)</option
  ><option value="monaco-377-mc-mco">MC: +377 (Monaco)</option><option
    value="moldova-373-md-mda">MD: +373 (Moldova)</option
  ><option value="montenegro-382-me-mne">ME: +382 (Montenegro)</option><option
    value="saint-martin-590-mf-maf">MF: +590 (Saint Martin)</option
  ><option value="madagascar-261-mg-mdg">MG: +261 (Madagascar)</option><option
    value="marshall-islands-692-mh-mhl">MH: +692 (Marshall Islands)</option
  ><option value="macedonia-389-mk-mkd">MK: +389 (Macedonia)</option><option
    value="mali-223-ml-mli">ML: +223 (Mali)</option
  ><option value="myanmar-95-mm-mmr">MM: +95 (Myanmar)</option><option
    value="mongolia-976-mn-mng">MN: +976 (Mongolia)</option
  ><option value="macau-853-mo-mac">MO: +853 (Macau)</option><option
    value="northern-mariana-islands-1-670-mp-mnp"
    >MP: +1-670 (Northern Mariana Islands)</option
  ><option value="mauritania-222-mr-mrt">MR: +222 (Mauritania)</option><option
    value="montserrat-1-664-ms-msr">MS: +1-664 (Montserrat)</option
  ><option value="malta-356-mt-mlt">MT: +356 (Malta)</option><option
    value="mauritius-230-mu-mus">MU: +230 (Mauritius)</option
  ><option value="maldives-960-mv-mdv">MV: +960 (Maldives)</option><option
    value="malawi-265-mw-mwi">MW: +265 (Malawi)</option
  ><option value="mexico-52-mx-mex">MX: +52 (Mexico)</option><option
    value="malaysia-60-my-mys">MY: +60 (Malaysia)</option
  ><option value="mozambique-258-mz-moz">MZ: +258 (Mozambique)</option><option
    value="namibia-264-na-nam">NA: +264 (Namibia)</option
  ><option value="new-caledonia-687-nc-ncl">NC: +687 (New Caledonia)</option
  ><option value="niger-227-ne-ner">NE: +227 (Niger)</option><option
    value="nigeria-234-ng-nga">NG: +234 (Nigeria)</option
  ><option value="nicaragua-505-ni-nic">NI: +505 (Nicaragua)</option><option
    value="netherlands-31-nl-nld">NL: +31 (Netherlands)</option
  ><option value="norway-47-no-nor">NO: +47 (Norway)</option><option
    value="nepal-977-np-npl">NP: +977 (Nepal)</option
  ><option value="nauru-674-nr-nru">NR: +674 (Nauru)</option><option
    value="niue-683-nu-niu">NU: +683 (Niue)</option
  ><option value="new-zealand-64-nz-nzl">NZ: +64 (New Zealand)</option><option
    value="oman-968-om-omn">OM: +968 (Oman)</option
  ><option value="panama-507-pa-pan">PA: +507 (Panama)</option><option
    value="peru-51-pe-per">PE: +51 (Peru)</option
  ><option value="french-polynesia-689-pf-pyf">PF: +689 (French Polynesia)</option><option value="papua-new-guinea-675-pg-png">PG: +675 (Papua New Guinea)</option><option value="philippines-63-ph-phl">PH: +63 (Philippines)</option><option
    value="pakistan-92-pk-pak">PK: +92 (Pakistan)</option><option value="poland-48-pl-pol">PL: +48 (Poland)</option><option
    value="saint-pierre-and-miquelon-508-pm-spm">PM: +508 (Saint Pierre and Miquelon)</option>
  <option value="64">PN: +64 (Pitcairn)</option>
  <option value="1787">PR: +1-787 (Puerto Rico)</option>
  <option value="1939">PR: +1-939 (Puerto Rico)</option>
  <option value="970">PS: +970 (Palestine)</option>
  <option value="351">PT: +351 (Portugal)</option>
  <option value="680">PW: +680 (Palau)</option>
  <option value="595">PY: +595 (Paraguay)</option>
  <option value="974">QA: +974 (Qatar)</option>
  <option value="262">RE: +262 (Reunion)</option>
  <option value="40">RO: +40 (Romania)</option>
  <option value="381">RS: +381 (Serbia)</option>
  <option value="7">RU: +7 (Russia)</option>
  <option value="250">RW: +250 (Rwanda)</option>
  <option value="966">SA: +966 (Saudi Arabia)</option>
  <option value="677">SB: +677 (Solomon Islands)</option>
  <option value="248">SC: +248 (Seychelles)</option>
  <option value="249">SD: +249 (Sudan)</option>
  <option value="46">SE: +46 (Sweden)</option>
  <option value="65">SG: +65 (Singapore)</option>
  <option value="290">SH: +290 (Saint Helena)</option>
  <option value="386">SI: +386 (Slovenia)</option>
  <option value="47">SJ: +47 (Svalbard and Jan Mayen)</option>
  <option value="421">SK: +421 (Slovakia)</option>
  <option value="232">SL: +232 (Sierra Leone)</option>
  <option value="378">SM: +378 (San Marino)</option>
  <option value="221">SN: +221 (Senegal)</option>
  <option value="252">SO: +252 (Somalia)</option>
  <option value="597">SR: +597 (Suriname)</option>
  <option value="211">SS: +211 (South Sudan)</option>
  <option value="239">ST: +239 (Sao Tome and Principe)</option>
  <option value="503">SV: +503 (El Salvador)</option>
  <option value="1721">SX: +1-721 (Sint Maarten)</option>
  <option value="963">SY: +963 (Syria)</option>
  <option value="268">SZ: +268 (Swaziland)</option>
  <option value="1649">TC: +1-649 (Turks and Caicos Islands)</option>
  <option value="235">TD: +235 (Chad)</option>
  <option value="228">TG: +228 (Togo)</option>
  <option value="66">TH: +66 (Thailand)</option>
  <option value="992">TJ: +992 (Tajikistan)</option>
  <option value="690">TK: +690 (Tokelau)</option>
  <option value="670">TL: +670 (East Timor)</option>
  <option value="993">TM: +993 (Turkmenistan)</option>
  <option value="216">TN: +216 (Tunisia)</option>
  <option value="676">TO: +676 (Tonga)</option>
  <option value="90">TR: +90 (Turkey)</option>
  <option value="1868">TT: +1-868 (Trinidad and Tobago)</option>
  <option value="688">TV: +688 (Tuvalu)</option>
  <option value="886">TW: +886 (Taiwan)</option>
  <option value="255">TZ: +255 (Tanzania)</option>
  <option value="380">UA: +380 (Ukraine)</option>
  <option value="256">UG: +256 (Uganda)</option>
  <option value="1">US: +1 (United States)</option>
  <option value="598">UY: +598 (Uruguay)</option>
  <option value="998">UZ: +998 (Uzbekistan)</option>
  <option value="379">VA: +379 (Vatican)</option>
  <option value="1784">VC: +1-784 (Saint Vincent and the Grenadines)</option>
  <option value="58">VE: +58 (Venezuela)</option>
  <option value="1284">VG: +1-284 (British Virgin Islands)</option>
  <option value="1340">VI: +1-340 (U.S. Virgin Islands)</option>
  <option value="84">VN: +84 (Vietnam)</option>
  <option value="678">VU: +678 (Vanuatu)</option>
  <option value="681">WF: +681 (Wallis and Futuna)</option>
  <option value="685">WS: +685 (Samoa)</option>
  <option value="383">XK: +383 (Kosovo)</option>
  <option value="967">YE: +967 (Yemen)</option>
  <option value="262">YT: +262 (Mayotte)</option>
  <option value="27">ZA: +27 (South Africa)</option>
  <option value="260">ZM: +260 (Zambia)</option>
  <option value="263">ZW: +263 (Zimbabwe)</option>
</select>

<style>
  select {
    border: 1px solid var(--color-text);
    border-radius: .5rem;
    font-family: var(--font);
    font-size: 1rem;
    padding: .4rem;
    width: 100%;
  }

  select:focus {
		border: 1px solid var(--color-light);
		outline: none;
  }
</style>
